.about-me {
  display: flex;
  justify-content: space-between;
  background-color: #ffe3a3;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 40px 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.about-me__info {
  margin: 0 20px;
}

.about-me__photo {
  position: relative;
  font-size: 0;
}

.about-me__photo::after {
  position: absolute;
  content: "";
  top: -20px;
  left: -20px;
  width: 19.53vw;
  max-width: 250px;
  height: 280px;
  background-color: #ffb300;
}

.about-me__img {
  position: relative;
  object-fit: cover;
  width: 19.53vw;
  max-width: 250px;
  height: 280px;
  z-index: 1;
}

.about-me__content {
  display: flex;
  flex-direction: column;
}

.about-me__title {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.12;
  width: fit-content;
  margin: 0;
  z-index: 0;
}

.about-me__title::after {
  position: absolute;
  top: 13px;
  left: 5px;
  content: "";
  width: calc(100% + 10px);
  height: 13px;
  background-color: #ffb300;
  z-index: -1;
}

.about-me__description {
  max-width: 690px;
  margin: 20px 0 0;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .about-me__photo::after {
    position: absolute;
    content: "";
    top: -20px;
    left: -20px;
    background-color: #ffb300;
  }

  .about-me__img {
    position: relative;
    object-fit: cover;

    z-index: 1;
  }

  .about-me__title {
    font-size: 18px;
  }

  .about-me__title::after {
    top: 11px;
    left: 5px;
    width: 105px;
  }

  .about-me__description {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .about-me {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px;
  }

  .about-me__photo {
    margin-left: 20px;
  }

  .about-me__photo::after {
    width: 200px;
    height: 230px;
  }

  .about-me__img {
    width: 200px;
    height: 230px;
  }

  .about-me__content {
    margin-top: 20px;
  }
}
