.card__image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card__info {
  position: relative;
  background-color: #ffd677;
  max-height: 40px;
  overflow: hidden;
  transition: max-height ease-in-out 0.3s;
}

.card__info_display {
  max-height: 400px;
}

.card__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  background-color: #ffb300;
  text-align: center;
  margin: 0;
  padding: 8px 0;
}

.card__button {
  position: absolute;
  background-color: transparent;
  border: none;
  height: 23px;
  width: 23px;
  left: 10px;
  top: 8.705px;
  transition: opacity linear 0.3s;
  cursor: pointer;
}

.card__button:hover {
  opacity: 0.6;
}

.card__button_plus {
  background: url("../images/square-plus-regular.svg") no-repeat center;
}

.card__info_display .card__button_plus {
  display: none;
}

.card__button_minus {
  display: none;
}

.card__info_display .card__button_minus {
  display: block;
  background: url("../images/square-minus-regular.svg") no-repeat center;
}

.card__description {
  opacity: 0;
  font-size: 14px;
  margin: 0;
  padding: 12px 15px;
  transform: scale(1.1);
  transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
  text-align: justify;
}

.card__info_display .card__description {
  transform: scale(1);
  opacity: 100%;
  margin: 0;
}

.card__link-container {
  display: flex;
}

.card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
  padding: 8px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color ease-in-out 0.3s;
}

.card__link_content_online {
  border-bottom-left-radius: 15px;
  background-color: #004280;
}

.card__link_content_online:hover {
  background-color: #0057a8;
}

.card__link_content_github {
  border-bottom-right-radius: 15px;
  background-color: #000000;
}

.card__link_content_github:hover {
  background-color: #272727;
}

@media screen and (max-width: 763px) {
  .card__item {
    width: 89vw;
    max-width: 400px;
  }

  .card__image {
    height: 200px;
  }
}

@media screen and (max-width: 360px) {
  .card__image {
    height: 130px;
  }
}
