.footer {
  background-color: #ffb300;
  padding: 8px 0;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 539px) {
  .footer__copyright {
    font-size: 12px;
  }
}
