.profile {
  background-color: #fff7d3;
  padding: 80px 40px 80px;
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 50px 20px 40px;
  }
}

@media screen and (max-width: 763px) {
  .profile {
    padding: 40px 20px;
  }
}
