.projects-gallery {
  background-color: #ffeeb1;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
}

.projects-gallery__title {
  position: relative;
  font-family: "Lexend Deca", sans-serif;
  font-size: 60px;
  line-height: 0.7;
  font-weight: 700;
  color: black;
  text-align: center;
  margin: 0 auto 40px;
  width: fit-content;
  z-index: 0;
}

.projects-gallery__title::after {
  position: absolute;
  background-color: #ffb300;
  content: "";
  top: 35px;
  left: 15px;
  height: 20px;
  width: 250px;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .projects-gallery__title {
    font-size: 45px;
  }

  .projects-gallery__title::after {
    top: 36px;
    width: 190px;
  }
}

@media screen and (max-width: 763px) {
  .projects-gallery {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 430px) {
  .projects-gallery__title {
    font-size: 35px;
  }

  .projects-gallery__title::after {
    top: 30px;
    left: 10px;
    width: 150px;
    height: 15px;
  }
}
