.skills {
  background-color: #fff7d3;
  padding: 80px 20px 90px;
  margin: 0;
}

.skills__title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  line-height: 1.21;
}

@media screen and (max-width: 763px) {
  .skills {
    padding: 40px 20px 50px;
  }
}

@media screen and (max-width: 530px) {
  .skills__title {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
  }
}
