.social {
  margin: auto 0 0;
}

.social__list {
  display: flex;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  font-size: 0;
  gap: 15px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #e0a826;
  cursor: pointer;
  transform: scale(1);
  transition: background-color linear 0.3s, transform linear 0.3s;
}

.social__link:hover {
  background-color: #ffb300;
  transform: scale(1.1);
}

.social__icon {
  width: 18px;
}

.social__icon_type_linkedin {
  width: 15px;
}

@media screen and (max-width: 800px) {
  .social__list {
    justify-content: center;
  }
}
