.social {
  margin: auto 0 0;
}

.social__list {
  display: flex;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  font-size: 0;
  gap: 15px;
}

.social__link {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #d89d14;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  cursor: pointer;
  transition: background-color linear 0.2s;
}

.social__link:hover {
  background-color: #ffb300;
  padding: 0;
}

.social__link_icon_linkedin {
  background-image: url("../images/linkedin.svg");
  background-size: 15px;
}

.social__link_icon_github {
  background-image: url("../images/github-brands.svg");
}

.social__link_icon_email {
  background-image: url("../images/icon-email.svg");
}

.social__link_icon_whatsapp {
  background-image: url("../images/whatsapp.svg");
}

@media screen and (max-width: 763px) {
  .social__list {
    justify-content: center;
  }
}
